<ul class="files">
    <li class="file drag_item" draggable="true" id="{{id}}">
        <div draggable="false" class="tree">
            <button  onclick=""><img src="static/img/file-alt.svg" alt=""></button>
            <h3>
                {{name}}
            </h3>
            <br>
            <button onclick="edit_name('{{id}}')"><img src="static/img/paintbrush-alt.svg" alt=""></button>
            <button onclick="delete_tree('{{id}}')"><img src="static/img/trash-alt.svg" alt=""></button>
        </div>
    </li>
</ul>


